<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>三柒图书城-购物车</title>
    <link rel="stylesheet" th:href="@{mall/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{mall/css/common.css}">
    <link rel="stylesheet" th:href="@{mall/styles/header.css}">
    <link rel="stylesheet" th:href="@{mall/styles/cart.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert.css}" />
</head>

<body>
    <header th:replace="mall/header::header-fragment"></header>
    <!---->
    <div id="cart">
        <div class="banner_x center">
            <a th:href="@{/index}">
                <div class="logo fl">
                    <img src="mall/image/37logo.png" />
                </div>
            </a>
            <div class="shopping_procedure"><span class="current">我的购物车</span><span>填写订单</span><span>完成订单</span></div>
            <div class="clear"></div>
        </div>
        <div class="cart_line"></div>
        <div class="cart_bg">
            <th:block th:if="${#lists.isEmpty(myShoppingCartItems)}">
            <div class="list center">
                <img src="mall/image/empty.png" alt="">
                您的购物车还是空的，赶紧行动吧！
            </div>
        </th:block>
        <th:block th:unless="${#lists.isEmpty(myShoppingCartItems)}">
            <div class="list center">
                <div class="top2 center">
                    <div class="sub_top fl">
                    </div>
                    <div class="sub_top fl">商品名称</div>
                    <div class="sub_top fl">单价</div>
                    <div class="sub_top fl">数量</div>
                    <div class="sub_top fl">小计</div>
                    <div class="sub_top fr">操作</div>
                    <div class="clear"></div>
                </div>
                <th:block th:each="item : ${myShoppingCartItems}">
                    <div class="content2 center">
                        <div class="sub_content fl ">
                        </div>
                        <div class="sub_content cover fl"><img th:src="@{${item.goodsCoverImg}}"></div>
                        <div class="sub_content fl ft20" th:text="${item.goodsName}">商品名称</div>
                        <div class="sub_content fl" th:text="${item.sellingPrice+'元'}">99元</div>
                        <div class="sub_content fl">
                            <input class="goods_count" th:id="${'goodsCount'+item.cartItemId}" type="number"
                                   th:onblur="'updateItem('+${item.cartItemId}+')'"
                                   th:value="${item.goodsCount}" step="1" min="1"
                                   max="5">
                        </div>
                        <div class="sub_content fl" th:text="${item.goodsCount*item.sellingPrice+'元'}">99元</div>
                        <div class="sub_content fl"><a href="##" th:onclick="'deleteItem('+${item.cartItemId}+')'">×</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </th:block>
            </div>
        </th:block>
        <div class="pre_order mt20 center">
            <div class="tips fl ml20">
                <ul>
                    <li><a th:href="@{/index}">继续购物</a></li>
                    <li>|</li>
                    <li>共<span th:text="${itemsTotal}">111</span>件商品</li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="order_div fr">
                <div class="order_total fl">合计（不含运费）：<span th:text="${priceTotal}+'.00元'">99.00元</span></div>
                <div class="order_button fr">
                    <th:block th:if="${itemsTotal == 0}">
                        <input class="order_button_c" type="button" name="tip"
                               onclick="tip()"
                               value="去结算"/>
                    </th:block>
                    <th:block th:unless="${itemsTotal == 0}">
                        <input class="order_button_d" type="button" name="settle"
                               onclick="settle()"
                               value="去结算"/>
                    </th:block>
                    <br><br><br><br>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            
        </div>
    </div>
</div>
<div th:replace="mall/footer::footer-fragment"></div>
</body>
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/mall/js/cart.js}" type="text/javascript"></script>
</html>