<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mall/header::head-fragment('商品详情','detail')">
</head>
<body>
<header th:replace="mall/header::header-fragment"></header>

<div id="detail">
    <!-- nav -->
    <nav th:replace="mall/header::nav-fragment"></nav>
    <div class="dc">
        <div class="content w">
            <div class="title fl">商品详情</div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="intro mt20 w clearfix">
        <div class="left fl" style="position: relative;">
            <div class="container fl">
                <a class="image-link" th:href="@{${goodsDetail.goodsCoverImg}}" data-lightbox="example-1"><img class="example-image" th:src="@{${goodsDetail.goodsCoverImg}}" alt="image-1" /></a>
            </div>
        </div>
        <div class="right fr">
            <div class="h3 ml20 mt20" th:text="${goodsDetail.goodsName}">37mall</div>
            <div class="sub_title mr40 ml20 mt10" th:text="${goodsDetail.goodsIntro}">37mall</div>
            <div class="item_price mr40 ml20 mt10">
                <th:block th:text="${goodsDetail.originalPrice}+'.00 元'"></th:block>
                <del>
                    <th:block th:text="${goodsDetail.sellingPrice}+'.00 元'"></th:block>
                </del>
            </div>

            <div class="order">
                <input class="car" type="button" th:onclick="'saveAndGoCart('+${goodsDetail.goodsId}+')'" value="立即选购"/>
                <input class="car" type="button" th:onclick="'saveToCart('+${goodsDetail.goodsId}+')'" value="加入购物车"/>
            </div>
            <div class="tb-extra ml20" id="J_tbExtra">
                <dl>
                    <dt>承诺</dt>
                    <dd><a href="##"><img src="/mall/image/7d.png" style="vertical-align: text-top;">7天无理由</a></dd>
                </dl>
                <dl>
                    <dt>支持</dt>
                    <dd><a href="##"><img src="/mall/image/微信支付.png" style="vertical-align: text-top;">微信支付</a>
                    <dd><a href="##"><img src="/mall/image/支付宝.png" style="vertical-align: text-top;">支付宝支付</a>
                </dl>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- 这里使用的是 th:utext 标签，用 th:text 不会解析 html，用 th:utext 会解析 html -->
    <div class="goods mt20 w clearfix" th:utext="${goodsDetail.goodsDetailContent}"></div>

    <div class="goods mt20 w">
        <th:block th:unless="${#lists.isEmpty(recommend)}">
            <div style="border-bottom: 1px solid #d97c97;margin: 0 0 5px 0;position: relative;">
                <h2>同类推荐</h2>
            </div>
            <div style="display: flex;">
            <th:block th:each="recommend : ${recommend}">
                <div class="rr">
                    <a th:href="@{'/goods/detail/'+${recommend.goodsId}}">
                        <img th:src="@{${recommend.goodsCoverImg}}" th:alt="${recommend.goodsName}">
                    </a>
                </div>
            </th:block>
            </div>
        </th:block>
    </div>

    <br><br><br><br>
</div>
<div th:replace="mall/footer::footer-fragment"></div>

<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>
<script th:src="@{/mall/js/detail.js}" type="text/javascript"></script>
<script th:src="@{/mall/js/lightbox.js}" type="text/javascript"></script>
</body>
</html>
