<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mall/header::head-fragment('个人中心','personal')">
</head>
<link th:href="@{/mall/css/bootstrap-modal.css}" rel="stylesheet">
<body>
<header th:replace="mall/header::header-fragment"></header>
<!-- nav -->
<nav th:replace="mall/header::nav-fragment"></nav>

<!-- personal -->
<div id="personal">
    <div class="self-info center">

        <!-- sidebar -->
        <div th:replace="mall/personal-sidebar::sidebar-fragment"></div>

        <div class="intro fr">
            <div class="grzlbt ml40">我的资料 <a href="javascript:openUpdateModal();"
                                             style="color:#2ca9e1;margin-left: 620px;">更改个人信息</a>
            </div>
            <div class="info_item ml40"><span>昵称</span><span
                    th:text="${session.sanqiUser.nickName}">三柒</span>
            </div>
            <div class="info_item ml40"><span>手机号</span><span
                    th:text="${session.sanqiUser.loginName}">三柒</span>
            </div>
            <div class="info_item ml40"><span>密码</span><span>******</span>
            </div>
            <div class="info_item ml40"><span>个性签名</span><span
                    th:text="${session.sanqiUser.introduceSign==''?'无':session.sanqiUser.introduceSign}">三柒</span>
            </div>
            <div class="info_item ml40"><span>收货信息</span><span
                    th:text="${session.sanqiUser.address==''?'无':session.sanqiUser.address}">三柒</span></span>
            </div>
            <div class="info_item ml40"><span>所属学院</span><span
                    th:text="${session.sanqiUser.major==''?'无':session.sanqiUser.major}">三柒</span></span>
            </div>

        </div>
        <div class="clear"></div>
    </div>
    <div class="content">
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="personalInfoModal" tabindex="-1" role="dialog"
             aria-labelledby="personalInfoModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h6 class="modal-title" id="personalInfoModalLabel">个人信息修改</h6>
                    </div>
                    <div class="modal-body">
                        <form id="personalInfoForm">
                            <div class="form-group">
                                <label for="nickName" class="control-label">昵称:</label>
                                <input type="hidden" id="userId" th:value="${session.sanqiUser.userId}">
                                <input type="text" class="form-control" id="nickName" name="nickName"
                                       placeholder="请输入昵称" th:value="${session.sanqiUser.nickName}"
                                       required="true">
                            </div>
                            <div class="form-group">
                                <label for="introduceSign" class="control-label">个性签名:</label>
                                <input type="text" class="form-control" id="introduceSign" name="introduceSign"
                                       placeholder="请输入个性签名" th:value="${session.sanqiUser.introduceSign}"
                                       required="true">
                            </div>
                            <div class="form-group">
                                <label for="address" class="control-label">收货信息:</label>
                                <input type="text" class="form-control" id="address" name="address"
                                       placeholder="请输入收货信息" th:value="${session.sanqiUser.address}"
                                       required="true">
                            </div>
                            <div class="form-group">
                            <label for="major" class="control-label">所属学院:</label>
                            <select   type="text" class="form-control" name="major" id="major">
                                <option value ="计算机与信息工程学院">计算机与信息工程学院</option>
                                <option value ="智能制造与控制工程学院">智能制造与控制工程学院</option>
                                <option value="环境与材料工程学院">环境与材料工程学院</option>
                                <option value="经济与管理学院">经济与管理学院</option>
                                <option value="应用艺术设计学院">应用艺术设计学院</option>
                            </select>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="saveButton">确认</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->
    </div>
</div>

<div th:replace="mall/footer::footer-fragment"></div>
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/mall/js/bootstrap3.js}"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>
<script th:src="@{/mall/js/personal.js}" type="text/javascript"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
</body>
</html>